.quangcaogg {
    /*---menu cáº¥p con---*/
    /* Slider*/
    /* */
    /*==========SEARCH=============*/
    /* .frm_timkiem {
		 position: relative;
		 width: 500px;
		 display: flex;
		 align-items: center;
		 border: 1px solid #ccc;
		 height: 43px;
	}
	 .frm_timkiem button {
		 top: 0px;
		 background: none;
		 outline: none;
		 border: none;
		 color: #fff;
		 padding: 10px;
		 z-index: 999;
		 background-color: #d80101;
		 width: 50px;
		 height: 41px;
	}
	 .frm_timkiem button span {
		 margin-right: 10px;
	}
	 .frm_timkiem i {
		 color: #fff;
		 font-size: 18px;
		 font-weight: 500;
		 position: relative;
		 top: 1px;
	}
	 .frm_timkiem .input {
		 text-indent: 10px;
		 outline: none;
		 border: none;
		 transition: all ease 0.5s;
		 padding: 10px 10px;
		 border: 0;
		 width: 100%;
		 z-index: 99;
		 color: #333;
		 background: #fff;
		 font-size: 14px;
		 height: 41px;
	}
	 .frm_timkiem .input::-webkit-input-placeholder {
		 color: #c8c8c8;
	}
	 .frm_timkiem .input::-moz-placeholder {
		 color: #c8c8c8;
	}
	 .frm_timkiem .input:-ms-input-placeholder {
		 color: #c8c8c8;
	}
	 .frm_timkiem .input:-moz-placeholder {
		 color: #c8c8c8;
	}
	 */
    /* .btn_tim>i {
		 font-size: 22px !important;
		 position: relative;
		 top: 1px;
	}
	 */
}
.quangcaogg .menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quangcaogg .menu_right a {
    padding: 12px 16px 14px;
    font-size: 16px;
    font-weight: 600;
    font-family: "sf600";
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    transition: 0.3s;
}
.quangcaogg .menu_right a:hover {
    background: var(--color-blue);
    color: #fff;
}
.quangcaogg .menu ul.menu_cap_cha {
    margin: 0;
    justify-content: space-between;
    /* position: relative;
	 */
    width: 60%;
}
.quangcaogg .menu ul.menu_cap_cha li.menulicha:last-child {
    padding-right: 0;
    float: right;
}
.quangcaogg .menu ul.menu_cap_cha li.menulicha > a {
    font-family: "sf600";
    color: #000;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    cursor: pointer;
    padding: 0px 18px;
    height: 80px;
    line-height: 80px;
}
.quangcaogg .ic_pc {
    position: relative;
    top: 1.5px;
    font-family: 600;
}
.quangcaogg .menu ul.menu_cap_cha li.menulicha > a:hover,
.quangcaogg .menu ul.menu_cap_cha li.active > a {
    --tw-text-opacity: 1;
    color: #000;
    background: #f0faff;
}
.quangcaogg .menu ul.menu_cap_cha li.menulicha > a:hover {
    /* color: #fff;
	 */
    --tw-text-opacity: 1;
    color: #000;
}
.quangcaogg .none_boder_r {
    border-right: 0 !important;
}
.quangcaogg .no_bg {
    background-image: none !important;
}
.quangcaogg .menu_cap_con {
    position: absolute;
    display: none;
    transition: all ease 0.5s;
    left: 0px;
    top: 100%;
    width: 100%;
    background: #fff;
    z-index: 99;
    justify-content: space-between;
    padding: 10px 10px 50px;
    border-bottom: 1px solid #ccc;
    box-shadow: 10px 5px 5px #ccc;
    border-radius: 10px;
}
.quangcaogg .menu_cap_con li {
    padding: 0 !important;
    width: 24.44%;
    display: block;
}
.quangcaogg .menu_cap_con li a {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    /* float: none !important;
	 */
    transition: all ease 0.2s;
    line-height: initial !important;
    padding: 24px 4px 24px 16px !important;
    position: relative;
    margin-bottom: 24px;
    color: #333 !important;
    background: #f90 1f;
    border-radius: 5px;
}
.quangcaogg .menu_cap_con li a img {
    margin-right: 12px;
    max-height: 32px !important;
}
.quangcaogg .fixed .menu_cap_con li a,
.quangcaogg .tail_menu .menu_cap_con li a {
    /* color: var(--color-main) !important;
	 */
}
.quangcaogg .menu_cap_con li a:hover {
    color: var(--color-main) !important;
}
.quangcaogg .menu_cap_cha li:hover .menu_cap_con {
    display: flex;
}
.quangcaogg .menu_cap_2 {
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    /* display: none;
	 */
}
.quangcaogg .menu_cap_2 li {
    width: 100%;
}
.quangcaogg .menu_cap_2 li a {
    color: #333 !important;
    background: transparent !important;
    padding: 0 !important;
    font-size: 15px;
    font-weight: 400;
    padding-left: 5px !important;
}
.quangcaogg .menu_cap_2 li:hover .menu_cap_3 {
    display: block;
}
.quangcaogg .wrap_slider {
    /* background: #F2F2F2;
	 */
    /* height: 100vh;
	 */
    /* padding-bottom: 6px;
	 */
}
.quangcaogg .item_slider {
    position: relative;
}
.quangcaogg .item_slider img {
    position: relative;
    width: 100%;
}
.quangcaogg .slider_info {
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0;
    z-index: 2;
    width: 100%;
    opacity: 1;
}
.quangcaogg .slider_info .fixwidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.quangcaogg .slider_info--text {
    /* width: 50%;
	 */
    /* margin: auto;
	 */
}
.quangcaogg .slider_info--text ul {
    list-style: disc !important;
}
.quangcaogg .slider_info__name {
    color: var(--color-blue);
    font-size: 44px;
    /* font-family: 'RobotoCondensedBold';
	 */
    font-weight: 900;
    line-height: 1.2;
    margin: 0 0 20px;
    text-align: center;
}
.quangcaogg .slider_info__name span {
    color: var(--color-main);
}
.quangcaogg .btn_web {
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
}
.quangcaogg .btn_web a {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 6px 6px 6px 25px;
    /* width: 216px;
	 */
    /* height: 52px;
	 */
    border-radius: 100px;
    background: var(--color-main);
    display: block;
    width: fit-content;
    /* margin: 0 auto;
	 */
}
.quangcaogg .btn_web:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    -webkit-transform: translate(-105%, 0);
    transform: translate(-105%, 0);
    background-color: rgba(255, 255, 255, 0.8);
}
.quangcaogg .btn_web:hover:before {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.quangcaogg .btn_web a span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.quangcaogg .btn_web a i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: var(--color-main);
    text-align: center;
    display: inline-block;
    margin-left: 14px;
    background: #fff;
    border-radius: 50%;
}
.quangcaogg .title {
    font-family: "Montserrat", serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    color: var(--color-main);
    text-align: center;
    margin-bottom: 35px;
}
.quangcaogg .title h2 {
    font-weight: 600;
}
.quangcaogg .title span {
    color: var(--color-blue);
}
.quangcaogg .content_gg {
    /* font-family: "Sen", serif;
	 */
}
.quangcaogg .content_gg ul {
    list-style: disc !important;
}
.quangcaogg .box_hinhthuc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.quangcaogg .hinhthuc_item {
    width: 49%;
}
.quangcaogg .hinhthuc_ten {
    font-size: 18px;
    color: #333;
    font-style: italic;
    margin-bottom: 5px;
}
.quangcaogg .hinhthuc_mota {
    font-size: 17px;
    color: #333;
}
.quangcaogg .hinhthuc_item {
    background: url("/assets/images/Tick_blue.gif") left 2px no-repeat;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    padding-left: 30px;
}
.quangcaogg .quytrinh_item {
    background: var(--color-main);
    color: #fff;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    min-height: 590px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quangcaogg .qt_count {
    font-size: 26px;
    font-weight: 600;
}
.quangcaogg .qt_ten {
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 30px;
    text-decoration: underline !important;
}
.quangcaogg .box_banggia {
    font-family: "Montserrat";
    --tw-shadow: 0px 5px 20px rgba(203, 203, 203, 0.2);
    --tw-shadow-colored: 0px 5px 20px var(--tw-shadow-color);
    box-shadow: var(--tw-shadow);
    border-bottom: 4px solid var(--color-blue);
}
.quangcaogg .box_banggia table {
    width: 100% !important;
}
.quangcaogg .box_banggia table td {
    padding: 15px 0;
    font-weight: 500;
}
.quangcaogg .box_banggia table td p {
    margin-bottom: 0 !important;
}
.quangcaogg .box_banggia table tr {
    --tw-bg-opacity: 1;
    border-bottom: 1px solid #ccc;
}
.quangcaogg .solieu_item {
    padding: 30px 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #fff;
}
.quangcaogg .solieu_count {
    font-size: 55px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #fff;
    line-height: 1.3em;
}
.quangcaogg .solieu_ten {
    color: #fff;
    font-size: 18px;
}
.quangcaogg .testimonial__item {
    margin: 1rem;
}
.quangcaogg .testimonial__top {
    box-shadow: 2px 1px 15px 0px rgba(0, 0, 0, 0.1019607843);
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    position: relative;
    background: #fff;
}
.quangcaogg .testimonial__title {
    font-size: 18px;
    background: -webkit-linear-gradient(5deg, #ffcf1b 0%, #ff8818 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.75rem;
    font-weight: 500;
    text-align: center;
}
.quangcaogg .testimonial__desc {
    font-size: 14px;
}
.quangcaogg .testimonial__top::after {
    content: "";
    position: absolute;
    left: 47%;
    top: 100%;
    width: 0;
    height: 0;
    border-top: 6px solid #fff;
    border: 10px solid black;
    transform: rotate(-45deg);
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    box-shadow: -3px 3px 3px 0 rgba(235, 215, 215, 0.4);
}
.quangcaogg .testimonial__bottom {
    text-align: center;
}
.quangcaogg .testimonial__bottom > div {
    margin-bottom: 0.25rem;
}
.quangcaogg .testimonial__img img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.quangcaogg .testimonial__name {
    font-size: 18px;
    color: #666;
    font-weight: 600;
}
.quangcaogg .testimonial__website {
    font-size: 16px;
}
.quangcaogg .boxfooter_bottom {
    padding: 30px 0;
    text-align: center;
    font-size: 16px;
}
.quangcaogg .menuli_close {
    display: none;
}
.quangcaogg .frmtim {
    position: absolute;
    right: 0;
    bottom: -30px;
    width: 0%;
    opacity: 0;
    padding: 0 !important;
    margin-top: 0 !important;
    transition: 0.5s;
    visibility: hidden;
}
.quangcaogg .frmtim input {
    padding: 9px 0px !important;
    border: 1px solid var(--color-main) !important;
}
.quangcaogg .frmtim button {
    right: 0 !important;
    top: 0px !important;
    padding: 10px 20px !important;
    background-color: var(--color-main);
    border-radius: 4px;
}
