@media (max-width: 1000px) {
    .footer-contact {
        padding: 30px;
    }
    .footer-contact ul li {
        list-style: none;
    }
    .header {
        display: none;
    }
    .nd_content .dropdown_toc.active {
        width: 3 50px !important;
    }
    .procedure__home__content .text {
        padding: 0;
    }
    .procedure__home .owl__procedure-item {
        padding: 20px 8px;
    }
    .payment-img {
        width: 60px;
    }
    .price__home__item .right__top h2 {
        font-size: 22px;
    }
    .logo_mobile_ne {
        display: block;
    }
    div.menu_mobi {
        order: 3;
        border-radius: 100%;
        width: 40px;
        height: 35px;
        line-height: 35px;
    }
    .phone__top {
        order: 1;
        justify-content: center;
        width: 100%;
    }

    div.menu_mobi_add {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        left: 0 !important;
        width: 100%;
        max-width: 100%;
        box-shadow: unset;
        top: 110px;
    }
    div.menu_mobi_active {
        height: 70vh;
        padding-bottom: 20px;
    }
    div.menu_mobi_add ul li a,
    div.menu_mobi_add ul li span {
        padding: 5px !important;
        font-size: 13px;
        border: none;
    }
    .sub-menu {
        visibility: visible;
        opacity: 1;
        max-height: 100%;
        position: unset;
    }
    .sub-menu-right.active {
        display: none;
    }
    .sub-menu-left {
        width: 100%;
    }
    .menu_mobi_add ul li ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 20px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 10px;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #000;
        }
    }
    .sub-menu-right {
        display: none;
    }
    .digital_text {
        padding-left: 8px;
        font-size: 13px;
        text-transform: uppercase;
        transition: all 0.3s;

        &:hover {
            background-color: #ffe0b2;
        }
    }
    .img_menu {
        display: none;
    }
    .sub-menu-left {
        background-color: unset;
    }
    .menulicha h2 a {
        margin: 12px 0 !important;
        border-bottom: 1px solid #333 !important;
        font-size: 17px !important;
    }
    .sub-menu {
        box-shadow: unset;
        border-radius: 0;
    }

    .frm_timkiemmoile {
        order: 2;
        background-color: #fff;
        border-radius: 4px;
        height: 100%;
        padding: 5px 10px;
        margin: 11px 15px 0 15px;
        flex: 1;
        display: flex;
    }
    .frm_timkiemmoile input {
        border: none;
        outline: none;
        width: 100%;
        &::placeholder {
            font-size: 13px;
        }
    }
    .frm_timkiemmoile button {
        border: none;
        outline: none;
        background-color: #fff;
    }

    .frm_timkiemmoile button i {
        color: orange;
    }

    .icon_menu_mobi {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 35px;
        line-height: 35px;
    }

    .icon_menu_mobi .fa-times {
        display: none;
    }

    .icon_menu_mobi.active .fa-times {
        display: block;
    }
    .icon_menu_mobi.active .fa-bars {
        display: none;
    }
}

@media (max-width: 600px) {
    .popup_gift_body {
        padding: 0;
    }
    .popup_gift_header h2 {
        font-size: 20px;
    }
    .hosting__home__main .nav li a {
        white-space: nowrap;
    }
    div.menu_mobi_add {
        top: 94px;
    }
    .footer-contact {
        padding: 30px;
    }
    .footer-contact ul li {
        list-style: none;
    }
    .header {
        display: none;
    }
    .nd_content .dropdown_toc.active {
        width: 3 50px !important;
    }
    .procedure__home__content .text {
        padding: 0;
    }
    .procedure__home .owl__procedure-item {
        padding: 20px 8px;
    }
    .payment-img {
        width: 60px;
    }
    .price__home__item .right__top h2 {
        font-size: 22px;
    }
    .logo_mobile_ne {
        order: 2;
        padding: 10px 0;
    }
    .menu__top {
        width: 100%;
        white-space: nowrap;
        flex-wrap: nowrap;
        padding: 4px 0 8px 0;
        overflow-x: clip;
        scroll-snap-type: x mandatory;
        scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
        width: 400px;
    }
    .menu__top::-webkit-scrollbar {
        display: none; /* Ẩn thanh cuộn trên Chrome, Safari */
    }
    .phone__top {
        display: none;
    }
    .service__home__item-icon img {
        display: none;
    }
    .service__home__item-content h3 {
        margin-left: 0;
    }

    #projects__home .project .boxproduct_name a {
        font-size: 14px;
    }

    .project .row > .col,
    .project .row > [class*="col-"] {
        padding-right: 8px;
        padding-left: 8px;
    }
    #projects__home .project .boxproduct_img {
        max-height: 350px;
    }
    #projects__home .project .boxproduct_img img {
        min-height: 350px !important;
        object-fit: cover;
    }
    #projects__home .projects__home__body .category__item {
        font-size: 15px;
        padding: 4px 12px;
    }
    .check__domain-title {
        text-shadow: unset;
        color: #000;
    }

    .hosting__home__head__sub {
        display: block;
        padding: 20px 0;
        font-size: 13px;
    }
    .case-study-bg-content {
        width: 90%;
    }
    .case-study-bg-content h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .case-study-bg-content p {
        font-size: 14px;
    }
    .cs-service-wrap {
        top: -20px;
    }
    .cs-service-inner {
        gap: 12px;
    }
    .cs-service-item a {
        padding: 5px 12px;
        font-size: 14.5px;
    }
    .cs-service-wrap {
        width: 420px;
    }
    .cs-project-job {
        left: 45%;
    }
    .cs-title h2 {
        font-size: 22px;
    }
    .cs-partner-inner {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .cs-partner-bg img {
        height: 100% !important;
        object-fit: cover;
    }
    .cs-partner-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        padding: 10px;
        border-radius: 8px;
    }

    .emailsever-intro-content{
        padding-top: 20px;
    }

    .features-email-grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 0;
        gap: 10px;
    }

    .features-email-item{
        padding: 10px 4px;
    }

    .feedback-email-item{
        min-width: unset;
    }
}

@media (max-width: 410px) {
    .price__home__item .right__mid__domain,
    .price__home__item .left__mid__domain {
        padding: 0 6px;
    }
}
